/.metadata
/sas-smpp-server/.settings
/sas-smpp-server/.classpath
/sas-smpp-server/.project
/sas-smpp-server/target
/sas-otecel-integracion/.settings
/sas-otecel-integracion/.classpath
/sas-otecel-integracion/.project
/sas-otecel-integracion/target
